body{background:#111;color:white;font-family:Arial;display:flex;justify-content:center;align-items:center;height:100vh;margin:0;}
.card{background:#222;padding:30px;border-radius:15px;width:330px;text-align:center;}
input{width:100%;padding:10px;margin:8px 0;border:none;border-radius:8px;}
button{width:100%;padding:10px;margin-top:10px;border:none;border-radius:8px;background:orange;font-weight:bold;}
.outline{background:none;border:2px solid orange;color:orange;}
.btnlink{display:block;text-align:center;background:#444;padding:10px;border-radius:8px;margin-top:10px;color:white;text-decoration:none;}
