body {
  background: #1a1a1a;
  color: white;
  font-family: Arial;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.card {
  background: #2b2b2b;
  padding: 30px;
  border-radius: 15px;
  width: 320px;
  text-align: center;
}

input {
  width: 90%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
}

button {
  width: 95%;
  padding: 12px;
  margin-top: 12px;
  border-radius: 10px;
  background: orange;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

button.outline {
  background: transparent;
  border: 2px solid orange;
}
